<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lift_happy_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,306},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,306},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,306},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,612},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,612},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,612},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,612},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1224},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1224},{480,298}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{480,298}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1224},{480,292}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{480,292}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1224},{480,296}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{480,296}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1530},{480,304}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{480,304}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1530},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Lift_happy_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Lift_happy.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97cdc666d17a5eb2b2dbee674c5ef334$</string>
            <key>textureFileName</key>
            <string>Lift_happy.png</string>
        </dict>
    </dict>
</plist>
