<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Raindeer_saying_good_morning_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{480,310}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{480,310}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{480,312}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{480,312}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,0},{480,314}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{480,314}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,314},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,314},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,314},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,314},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,634},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,634},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,634},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,634},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,954},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,954},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,954},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,954},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1274},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1274},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1274},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1274},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1594},{480,314}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{480,314}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1594},{480,312}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{480,312}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1594},{480,310}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{480,310}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_saying_good_morning_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Raindeer_saying_good_morning.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95241d37eba757a0fa4f90f661b0aace$</string>
            <key>textureFileName</key>
            <string>Raindeer_saying_good_morning.png</string>
        </dict>
    </dict>
</plist>
