<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Raindeer_Saying_Right_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,308},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,308},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,308},{480,304}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{480,304}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,614},{478,302}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{478,302}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,614},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,614},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,614},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,920},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,920},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,920},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,920},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1228},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Right_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Raindeer_Saying_Right.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e46ddbc26b8317e7b69c6de72591655$</string>
            <key>textureFileName</key>
            <string>Raindeer_Saying_Right.png</string>
        </dict>
    </dict>
</plist>
