<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Raindeer_Eye_blinking_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,306},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,306},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,306},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,612},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,612},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,612},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,612},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Eye_blinking_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,918},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Raindeer_Eye_blinking.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:305538b45e21dea03be20876a7060a27$</string>
            <key>textureFileName</key>
            <string>Raindeer_Eye_blinking.png</string>
        </dict>
    </dict>
</plist>
