<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Raindeer_moving_nose_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{480,312}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{480,312}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,0},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,0},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,318},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,318},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,318},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,636},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,636},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,318},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,636},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,636},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,954},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,954},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,954},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,954},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,318},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1272},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1272},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1272},{480,318}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{480,318}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,1272},{480,312}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{480,312}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_moving_nose_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Raindeer_moving_nose.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7512786cc8f16c066fcb2fc332cf88f9$</string>
            <key>textureFileName</key>
            <string>Raindeer_moving_nose.png</string>
        </dict>
    </dict>
</plist>
