<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Raindeer_Saying_Ouch_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Ouch_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Ouch_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{480,300}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{480,300}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Ouch_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{478,292}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,28},{478,292}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Ouch_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,306},{480,298}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{480,298}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Ouch_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,604},{480,300}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{480,300}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Ouch_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,604},{480,300}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{480,300}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Ouch_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,904},{480,300}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{480,300}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Ouch_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,904},{480,300}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{480,300}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Ouch_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1204},{480,300}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{480,300}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Ouch_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1204},{480,302}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{480,302}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Ouch_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1506},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_Saying_Ouch_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,306}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{480,306}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Raindeer_Saying_Ouch.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3377e511ced22954e77f9e2f9d68f7f$</string>
            <key>textureFileName</key>
            <string>Raindeer_Saying_Ouch.png</string>
        </dict>
    </dict>
</plist>
