<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{480,312}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{480,312}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{480,312}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{480,312}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{480,312}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{480,312}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,312},{480,312}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{480,312}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,312},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,312},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,312},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,312},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,624},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,624},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,932},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,932},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1240},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,1240},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1548},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,624},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,932},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,624},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,624},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,932},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>Raindeer_laughing_short_and_saying_it_tickles_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{480,308}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{480,308}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Raindeer_laughing_short_and_saying_it_tickles.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac47902055b0a6c280d489227fc3f235$</string>
            <key>textureFileName</key>
            <string>Raindeer_laughing_short_and_saying_it_tickles.png</string>
        </dict>
    </dict>
</plist>
